{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".add-row").click(function(){
					var name = $("#name").val();
					var email = $("#value").val();
					var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
					$("table tbody").append(markup);

				});
				
				// Find and remove selected table rows
				$(".delete-row").click(function(){
					$("table tbody").find('input[name="record"]').each(function(){
						if($(this).is(":checked")){
							$(this).parents("tr").remove();
						}
					});
				});
			}); 
			
			function passTableData() {

				const trs = document.querySelectorAll('#tempTable tr');
					
					const result = [];

					for(let tr of trs) {
					let th_td = tr.getElementsByTagName('td');
					if (th_td.length == 0) {
						th_td = tr.getElementsByTagName('th');
					}
					
					let th_td_array = Array.from(th_td); // convert HTMLCollection to an Array
					th_td_array = th_td_array.map(tag => tag.innerText); // get the text of each element
					result.push(th_td_array);

					$.ajax({
					method: 'POST',
					url: "{% url 'TableData' %}",
					data: { csrfmiddlewaretoken: "{{csrf_token}}", 'table': JSON.stringify(result)}
					})

				}
        }
		</script>
        <link rel="stylesheet" type="text/css" href="{% static 'NextflowRedemption/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"
    </head>
    <body class="m-3">
        <form method="post"> {% csrf_token %}
        <h1>config page</h1>
        <a href="{% url 'index' %}">main page</a>
        <div class="row justify-content-center">
            <div class="col-2 align-end">Name</div>
            <div class="col-3"><input name="name"></div>
            <div class="col-2"></div>
            <div class="w-100"></div>
            <div class="col-2 align-end">Pipeline</div>
            <div class="col-3"><input name="pipeline" value="{{ preset.template_path }}" disabled="disabled"></div>
            <div class="col-2 align-start"><button disabled="disabled">Explore</button></div>
            <div class="w-100"></div>
            <div class="col-2 align-end">Configuration</div>
            <div class="col-3"><input name="config" disabled="disabled" value="{{ preset.template_config }}"></div>
            <div class="col-2 align-start"><button disabled="disabled">Explore</button></div>
            <div class="w-100"></div>
            <div class="col-2 align-end">Execution location</div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <input type="radio" id="def_radio" name="exec_loc" value="default" checked>
                        <label for="def_radio">same as pipeline file</label>
                    </div>
                    <div class="col">
                        <input type="radio" id="cus_radio" name="exec_loc" value="custom" >
                        <label for="cus_radio">custom</label>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="w-100"></div>
            <div class="col-2"></div>
            <div class="col-3"><input/></div>
            <div class="col-2 align-start"><button type="button">Explore</button></div>
            <div class="w-100"></div>
            <div class="col-2 align-end">Parameters</div>
            <div class="col-3">
                <table id="tempTable" class="tempTable">
					<thead>
						<tr>
							<th>Delete</th>
							<th>Name</th>
							<th>Value</th>
						</tr>
					</thead>
                    <tbody>
						
					</tbody>
                </table>
            </div>
            <div class="col-2"></div>
            <div class="w-100"></div>

			<div class="col-3">
				<div class="row">
					<div class="col-3">
						<input type="text" id="name" placeholder="Name">
					</div>
					<div class="col-3">
						<input type="text" id="value" placeholder="Value">
					</div>
					<div class="col-3">
						<button type="button" class="add-row" value="Add Row">Add row</button>
					</div>
					<div class="col-3">
						<button type="button" class="delete-row">Remove</button>
					</div>
				</div>
			  </div>
          <!-- <div class="col-2 align-start" style="align-self: flex-end;"><input type="button" class="add-row" value="Add Row"></div> -->
          </div>
          
          <button class="m-5">Remove piepline</button>
		  <button class="m-5" type="submit" value="Add pipeline" onclick=passTableData()>Add pipeline</button>
          <!-- <button class="m-5" style="font-weight: bold">Add pipeline</button> -->
		</form>
    </body>
</html>